@import '~antd/dist/antd.css';

.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.classDetails{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 80px;
}
.head-grid{
  display: flex;
}
.details-grid {
  text-align: center;
  margin-top: 10px;
}
.details-grid p{
  text-align: left;
}
.Course-img{
  height: 50px;
  width: 100px;
  border: 1px solid rgb(102, 101, 101);
  margin: 10px;
}
.faculty-img{
  height: 50px;
  width: 50px;
  border: 1px solid rgb(114, 113, 113);
  border-radius: 50%;
  margin: 10px;
}
.sideMenu{
  position: absolute;
  width: 450px;
  height: 100vh;
  background-color: whitesmoke;
  z-index: 5;
  box-sizing: border-box;
  box-shadow: 2px 1px 1px #888888
}
.sideMenu button{
  background-color: transparent;
  border: none;
  margin-left: 5px;
  margin-top: 15px;
}
.side-layout{
  justify-content: left;
}
.video-layout{
  background-color: black;
  height: 80vh;
  color: #888888;
  text-align: center;
}
.small-video{
  background-color: black;
  height: 80vh;
  width: calc(100% - 450px);
  color: #888888;
  text-align: center;
}
.button-layout{
  height: 10vh;
  display: flex;
  justify-content: space-around;
}
.small-button-layout{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  width: calc(100% - 450px); 
}
.foot-btn{
position: relative;
width: 100%;
border-width: 1px 0 0 0;
padding-top: 10px;
}
.foot-btn button{
  background-color: transparent;
  border: none;
}
.participants-btn {
  display: flex;
  justify-content: right;
  padding-left: 100px;
}
.participants-btn button{
  margin-top: 0px;
  background-color: transparent;
  border: none;
}
.visible{
  top: 0px;
  right: 0px;
}
.hidden{
  top: 0px;
  right: -500px;
}
.nav-button-group{
  display: flex;
  flex-direction: row;
  width:100%;
  margin-top: 10px;
} 
.main-nav-button{
  position: absolute;
  top: 5px;
  right:30px;
  z-index: 6;
}
.nav-button-group button{
  /* background-color: transparent;
  border: none; */
  margin-top: 15px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.chat-body{
  margin: 50px 10px 50px 10px;
}

.chatBubble-body{
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left:20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.chatBubble {
	margin: 5px;
  display: inline-flex;
  position: relative;
  border-radius: 10px;
	height: fit-content;
	background-color: white;
  color: rgb(5, 5, 5);
  text-align: left;
  padding-left: 10px;
  min-width: 80px;
  width: fit-content;
  block-size: fit-content;
  padding: 5px 10px 5px 10px;
  box-shadow: 1px 1px 2px #888888;
}
.chatBubble>p{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}
.chat-bubble-button{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.chat-option{
  display: flex;
  text-align: center;
}
.chatInput{
  margin: 25px;
  display: flex;
  align-items: center;
}
.chatInput Input{
  border-radius: 5px;
  padding: 15px;
  margin-right: 5px;
}
.warning{
  height: 15px;
  width: 15px;
  background-color: yellow;
  border-radius: 50%; 
  display: inline-block;
  margin: 5px;
}
.block{
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}
.questionBubble-body{
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left:20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.que-bubble{
  text-align: left;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  min-width: 80px;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  border-right-style: solid ;
  border-right-color: white;
}
.que-bubble-button{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.que-bubble-button h4{
  margin-right: 10px;
}
.que-bubble-button button{
  background-color: white;
  border: none;
}
.answer-action{
  border-right-style: solid ;
  border-right-color: rgb(55, 241, 55);
  border-right-width: 7px;
}
.reject-action{
  border-right-style: solid ;
  border-right-color: rgb(221, 22, 22);
  border-right-width: 7px;
}
.replayAnswer{
	margin: 5px;
  display: inline-flex;
  position: relative;
  border-radius: 10px;
	height: fit-content;
	background-color: white;
  color: rgb(5, 5, 5);
  text-align: left;
  padding-left: 10px;
  min-width: 80px;
  width: fit-content;
  block-size: fit-content;
  padding: 5px 10px 5px 10px;
  box-shadow: 1px 1px 2px #888888
}
.answer-body{
  text-align: left;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  min-width: 80px;
  margin: 5px;
  padding: 5px 10px 5px 10px; 
  box-shadow: 1px 1px 2px #888888
  /* position: absolute; */
}
.answer-content{
  display: flex;
  margin: 20px;
}
.answer-content input{
  padding: 0px;
}
.answer-bubble{
  text-align: left;
  background-color: rgb(155, 245, 177);
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  min-width: 50px;
  margin: 8px;
  padding: 5px 10px 5px 10px; 
  block-size: fit-content;
}
.answer-head{
  display: flex;
  justify-content: space-between;
}
.answer-head a{
  margin: 10px;
  text-decoration: none;
  font-size: small;
}
.answer-head p{
  margin: 10px 0 16px 0;
  font-size: medium;
  font-weight: bold;
}
.handRise-body{
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left:20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.riseHand-bubble{
  margin: 5px;
  display: inline-flex;
  position: relative;
  border-radius: 10px;
	height: fit-content;
	background-color: white;
  color: rgb(5, 5, 5);
  text-align: left;
  min-width: 80px;
  block-size: fit-content;
  padding: 5px 10px 0px 10px;
  box-shadow: 1px 1px 2px #888888;
  overflow-y: visible;
}
.rh-bubble-body{
  display: flex
}
.rh-bubble-body p{
  padding-left: 10px;
  color: #888888;
}
.toggle-button-rh{
  display: inline-flex;
  justify-content: space-around;
}
.toggle-button-rh p{
  margin-top: 10px;
}
#start-video{
  margin-left: 10px;
}
.settings-body{
  text-align: left;
}
.videoLayout-body{
  width: 390px;
  height: 270px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px #888888
}
.videoLayout{
  width: 370px;
  height: 250px;
  background-color: rgb(3, 3, 3);
  margin: 5px;
}
.settings-body{
  margin: 15px;
  text-align: center;
}