@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.classDetails{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 80px;
}
.head-grid{
  display: flex;
}
.faculty{
  display: flex;
}
.details-grid {
  text-align: center;
  margin-top: 10px;
}
.details-grid p{
  text-align: left;
}
.Course-img{
  height: 50px;
  width: 100px;
  border: 1px solid rgb(102, 101, 101);
  margin: 10px;
}
.faculty-img{
  height: 50px;
  width: 50px;
  border: 1px solid rgb(114, 113, 113);
  border-radius: 50%;
  margin: 10px;
}
.sideMenu{
position: absolute;
width: 600px;
height: 100vh;
background-color: whitesmoke;
z-index: 5;
}
.sideBar-buttons{
  align-items: center;
}
.video-layout{
  background-color: black;
  height: 80vh;
}
.button-layout{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.participants-btn{
  padding-right: 30px;
}
.visible{
  top: 0px;
  right: 0px;
}
.hidden{
  top: 0px;
  right: -500px;
}
.nav-button-group{
  display: flex;
  flex-direction: row;
  width:100%;
}
.main-nav-button{
  position: absolute;
  top: 25px;
  right: 60px;
  z-index: 6;
}